body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #5e0c0c00;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("caret-right.svg " );
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #e27e7e00;
}



.scrollarea {
  overflow-y: auto;
}

.lh-tight { line-height: 1.25; }

textarea{
  resize: none;
}
.finde{
  background: #CACACA;
  border: #CACACA;
}
.card-body{
  height: 120px;
  }
.boton-carrusel{
  height: 9%;
}
.c101{

  display: none;
}
.c102{

  display: none;
}
.c201{

  display: none;
}
.c202{

  display: none;
}
.c301{

  display: none;
}
.c302{

  display: none;
}
.c401{

  display: none;
}
.c402{

  display: none;
}
.c501{

  display: none;
}
.c502{

  display: none;
}
.c601{

  display: none;
}
.c602{

  display: none;
}
.q{
  background-color: #ffffff;
  height: 40px;
}
.carta{
  height: 100px;
}